
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/*@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700');*/

*{
  /* Fonts*/
  --work: 'Work Sans', sans-serif;
  
  /* Colors*/
  --h2o: #7bd4cc;
  --honey: #bea42e;
  --army: #7b895b;
  --green: #037367;
  --sangria: #00281f;
  --white: #fff;
  /* Transition */
 --transition-short: all .5s ease-in-out;
  
  /* padding */
  --padding-standard:1rem;
}